<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<h1>Rapidfort_Python_file</h1>
</head>
<body>
	<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<div class ="data">
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
</div>
<div class = "container">
	{% if file_info %}
	<h2>Uploaded File Information:</h2>
	<p><strong>Filename:</strong> {{ file_info.filename }}</p>
	<p><strong>File Size:</strong> {{ file_info.file_size }} bytes</p>
	<p><strong>File URL:</strong> <a href="{{ file_info.file_url }}" target="_blank">{{ file_info.file_url }}</a></p>
	{% endif %}
</div>
</body>
</html>
